{% extends "base.html"%}
{% load static %}

{% block titulo %} Prueba de Salida - Eliminar Pedido {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img class="card-img img-fluid mt-5" src="{% static 'assets/img/advertencia.png' %}"
                alt="img_celeb_izquierda">
        </div>
        <div class="col-sm-6">
            <div class="d-flex justify-content-center align-items-center mt-5">
                <div class="card m-3">
                    <h1 class="text-success text-center">Pedidos</h1>
                    <div class="card-body m-3">
                        <h5 class="card-title text-center fw-bold fs-1">Estás seguro/a de eliminar el pedido?</h5>
                    </div>
                    <div class="d-grid text-center">
                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger mb-3">Eliminar</button>
                            <a href="{% url 'pedidos' %}" class="btn btn-secondary mb-3">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3 text-center">
            <img class="card-img img-fluid mt-5" src="{% static 'assets/img/advertencia.png' %}"
                alt="img_celeb_derecha">
        </div>
    </div>
</div>

{% endblock %}