{% extends "base.html"%}

{% load static %}

{% block titulo %} Prueba de Salida - Editar {% endblock %}

{% block content %}

<script>
    function showAddDetalle(){
      if (document.getElementById("formDetalle").style.display == "block"){
        document.getElementById("formDetalle").style.display = "none";
        document.getElementById("botonDetalle").innerHTML = "Agregar Detalle";
        return;
      }
      document.getElementById("formDetalle").style.display = "block";
      document.getElementById("botonDetalle").innerHTML = "Ocultar Detalle";
    }
  </script>

<div class="container pb-3">
    <div class="row mt-3">
      <div class="col-12 col-md-12">
        <h1>Pedidos</h1>
      </div>
      <div class="col-12 col-md-12">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Guardar</button>
          <a href="{% url 'pedidos' %}" class="btn btn-secondary">Volver</a>
        </form>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <h4>Detalle de pedido</h4>
      </div>
      <div class="col-12" style="text-align: right;">
        <button type="button" class="btn btn-success" onclick="showAddDetalle()" id="botonDetalle">Agregar Detalle</button>
      </div>
      <div class="col-12" style="display: none" id="formDetalle">
        <div class="card">
          <div class="card-body">
            <form method="POST" action="">
              {% csrf_token %}
              {{ form_detalle.as_p }}
              <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}