{% extends "base.html"%}
{% load static %}

{% block titulo %} Prueba de Salida - Pedidos {% endblock %}

{% block content %}

<div class="container pb-3">
    <div class="row mt-3">
      <div class="col-12 col-md-6">
        <h1 class="text-success">Pedidos</h1>
        <hr>
      </div>
      <div class="col-12 col-md-6" style="text-align: right;">
        <a href="#" class="btn btn-success">Nuevo Pedido</a>
      </div>
    </div>
    <div class="row mt-3">
      {% for pedido in pedidos %}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title"><b>Pedido N°:</b> {{ pedido.id }}</h5>
            <p class="card-text"><b class="fw-bold">Cliente:</b> {{ pedido.idcliente.nombreCliente }}</p>
            <p class="card-text"><b class="fw-bold">Fecha:</b> {{ pedido.fecha_pedido }}</p>
            <a href="#" class="btn btn-success">Editar</a>
            <a class="btn btn-danger" href="{% url 'pedido_eliminar' pedido.id %}">Eliminar</a>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="col-12">
        <p>No hay pedidos</p>
      </div>
      {% endfor %}
    </div>
  </div>


{% endblock %}